body::before {
  display: block;
  content: '';
  height: 70px;
}

main {
  height: 100%;
  min-height: calc(100vh - 600px);
}

.phone {
  text-decoration: none;
}

.shape {
  height: 250px;
  width: 250px;
  padding: 20px;
  margin: auto;
  border-radius: 50%;
}

.showcase .container .header {
  grid-area: header;
  align-self: center;
}
.showcase .container .subheader {
  grid-area: subheader;
  align-self: start;
}
.showcase .container .pinnacle {
  grid-area: photo;
  justify-self: center;
}

.showcase .container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header photo"
      "subheader subheader photo"
}

.pinnacle {
  max-width: 450px;
}

#services a {
  text-decoration: none;
}

#services a:hover h4, a:active h4{
  background-color: steelblue;
}





@media screen and (min-width: 1171px) {
  .showcase .container {
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-areas:
      "header header photo photo"
      "subheader subheader photo photo"
  }


  .pinnacle {
    max-width: 430px;
  }

}


@media screen and (min-width: 760px) and (max-width: 1170px) {
  .showcase .container {
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas:
      "header header photo"
      "subheader subheader photo"
  }

  .pinnacle {
    max-width: 350px;
  }

}


@media screen and (max-width: 768px) {
  .showcase .container {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "header photo"
      "subheader photo"
  }

   .pinnacle {
    max-width: 300px;
  }


}

@media screen and (max-width: 500px) {
  .showcase .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas: 
      "header"
      "photo"
      "subheader"
  }

}

@media screen and (max-width: 380px) {
  .showcase .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas: 
      "header"
      "photo"
      "subheader"
  }

   .pinnacle {
    max-width: 250px;
  }

}
